header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    animation-name: changeHeaderColor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
:root {
    --primary-color: #e06d88;
    --secondary-color: #8065d7;
}
@keyframes changeHeaderColor {
    0% {
        background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    }
    25% {
        background-image: linear-gradient(to right, var(--secondary-color), var(--primary-color));
    }
    50% {
        background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    }
    75% {
        background-image: linear-gradient(to right, var(--secondary-color), var(--primary-color));
    }
    100% {
        background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    }
}


.logo {
    width: 50px;
    height: 50px;
    /* اینجا خودتان لوگوی خود را قرار دهید */
}
.logo img {
    max-width: 100%;
    max-height: 100%;
}
.site-name {
    margin: 0px;
    font-size: 24px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    background-color: #F2C94C;
    color: white;
    transform: scale(1.1);
}

main {
    margin-left: 40px;
    direction: rtl;
}

section {
    padding: 50px;
}

article {
    margin-bottom: 50px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-out;
}

article:hover {
    transform: scale(1.05);
}

article img {
    max-width: 100%;
}

article p {
    font-size: 18px;
    line-height: 1.5;
}

article a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease-out;
}

article a:hover {
    background-color: #555;
}
footer {
    background-color: #b5c016;
    color: #fff;
    padding: 2px 0;
    text-align: center;
}

.social-media a {
    display: inline-block;
    margin: 0 10px;
}

.social-media img {
    height: 30px;
    width: auto;
}


